*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-mode{
  background-color: #242424;
  color: #fff;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  border: 5px solid #fff;
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}